@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

html {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

body { //배경의 위치? (이게 캔버스같은데?)
  width: 100px;
  height: 1000px;
  margin: auto;
  padding: 0px;
  background-color: #ffffff;
}

#Title { //타이틀 위치
  width: 600px;
  height: 130px;
  margin: 30;
  padding: 50px;
  padding-bottom: 0px;

  font-size: 20pt;
  font-weight: bold;
  text-align: center;
  color: #151515;
  background-color: #ffffff;
  font-family: 'Nanum Gothic Coding', monospace;

  display: block;
}

#Story{ //스토리
  width: 600px; //텍스트상자
  height: 100px; //텍스트상자
  margin: 0;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
  text-align: center;
  font-family: 'Nanum Gothic Coding', monospace;

  display: block;
}

canvas { //p5의 이미지의 높낮이?
  position: relative;
  top: 500px;
  margin: auto; //중앙에 놓기
  padding: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  display: block;
}
