@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

html {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

body { //이미지의 크기
  width: 1000px;
  height: 500px;
  margin: auto;
  padding: 0;
  background-color: #151515;
}

#Title { //타이틀 크기
  width: 1000px;
  height: 200px;
  margin: 100;
  padding: 100px;
  padding-bottom: 0px;

  font-size: 50pt;
  font-weight: bold;
  text-align: center;
  color: #151515;
  background-color: #f0f0f0;
  font-family: 'Nanum Gothic Coding', monospace;

  display: block;
}

.Text h6{
  margin-top: 20px;
  margin-bottom: 20px;

  color: #151515;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Nanum Gothic Coding', monospace;
}

.Text h5{
  margin-top: 60px;
  margin-bottom: 20px;

  color: #151515;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Nanum Gothic Coding', monospace;
}

.Text p{
  padding-left: 70px;
  padding-right: 70px;
  line-height: 170%;

  color: #151515;
  text-align: justify;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Nanum Gothic Coding', monospace;
}

.Text {
  position: relative;
  top: 1000px;
  width: 460px;
  height: 815px;
  padding-top: 40px;
  margin: 0;
  background-color: #f0f0f0;

  color: #151515;
  text-align: center;
  font-size: 10px;
  font-weight: 1000;
  font-family: 'Nanum Gothic Coding', monospace;

  display: block;
}



canvas {
  position: relative;
  top: -360px;
  margin: 0;
  padding: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #f0f0f0;
  display: block;
}
